/* src/components/LoginPage.css */
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100%;
  background-color: #333;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .logo-container {
  flex: 1;
}

.logo {
  height: 50px;
} */

.nav-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px; /* Adjust as needed */
}

.login-box {
  width: 400px; /* Adjust width as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login-box h2 {
  margin-top: 0;
  text-align: center;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box label {
  margin-bottom: 5px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #555;
}

.login-box p {
  color: red;
  text-align: center;
  margin-top: 10px;
}
