/* src/components/Signup.css */
.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100%;
  background-color: #333;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .logo-container {
  flex: 2;
}

.logo {
  height: 100px;
} */

.nav-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.signup-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px; /* Adjust as needed */
}

.signup-content {
  width: 400px; /* Adjust width as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #555;
}

.signup-heading {
  margin-top: 0;
  text-align: center;
}

.signup-success {
  color: green;
  font-weight: bold;
  text-align: center;
}

.signup-error {
  color: red;
  font-weight: bold;
  text-align: center;
}
